body {
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}

.menu {
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

h1{
    text-align: center;
    color: #FFF;
    font-size: 40px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    padding-top: 250px;
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #04AA6D;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.button:hover{
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}