<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
  <title>Pagina principal</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link th:href="@{landingPage.css}" rel="stylesheet" />
</head>
<body>
<h1 class="titulo-principal">BIENVENIDO</h1>
<form class="menu">
  <div class="contenedor-base">
    <div class="opciones">

      <a th:href="@{registro}" style="text-decoration:none">
        <button class="button" type="button" value="registro">Registro</button>
      </a>

      <br>

      <a th:href="@{iniciodesesion}" style="text-decoration:none">
        <button class="button" type="button" value="iniciodesesion">Inicio de Sesión</button>
      </a>

    </div>
  </div>
</form>
</body>
</html>