<!DOCTYPE html>
<html lang="en">

<head class="head">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagina principal</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/landingPage.css">

</head>


<body>
    <h1 class="titulo-principal">BIENVENIDO</h1>
    <form class="menu">
        <div class="contenedor-base">
            <div class="opciones">

                <a href="registro.html" style="text-decoration:none">
                    <button class="button" type="button">Registro</button>
                </a>

                <br>

                <a href="inicioDeSesion.html" style="text-decoration:none">
                    <button class="button" type="button">Inicio de Sesión</button>
                </a>

            </div>
        </div>
    </form>
</body>

</html>