<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Realizar Delegación</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/notificaciones.css">
</head>

    <header>
        <nav class="nav">
            <div class="container">
                <h1 class="logo"><a href="#">RELACIONAMIENTO DE PERSONAS</a></h1>
                <ul>
                    <li><a href="menuPrincipal.html" class="current">Home</a></li>
                    <li><a href="reporte.html">Reportes</a></li>
                    <li><a href="actualizacionDeDatos.html" class="actu">Actualizar datos</a></li>
                    <li><a href="autorizaciones.html">Autorizaciones</a></li>
                    <li><a href="notificaciones.html">Notificaciones</a></li>
                    <li><a href="landingPage.html">Cerrar Sesion</a></li>
                    
                </ul>
            </div>
        </nav>
    </header>
    
    <body>

    <section class="main">

        <div class="contenedor-base">

            <div class="notificaciones">

                <div class="notif-delegacion-recibida">
                    <div class="texto-simple">
                        <p>Delegación recibida por parte de Persona X</p>
                        <p>DNI: 00000000</p>
                    </div>
                    <br>
                    <div class="botones">
                        <button class="botonAceptar" type="button">Aceptar</button>
                        <button class="botonRechazar" type="button">Rechazar</button>
                    </div>
                </div>
                <br>
                <div class="delegacion-rechazada">
                    <div class="texto-simple">
                        <p>Delagación rechazada por parte de Persona X</p>
                        <p>DNI: 00000000</p>
                    </div>
                </div>
                <br>
                <div class="notif-delegacion-recibida">
                    <div class="texto-simple">
                        <p>Delegación recibida por parte de Persona X</p>
                        <p>DNI: 00000000</p>
                    </div>
                    <br>
                    <div class="botones">
                        <button class="botonAceptar" type="button">Aceptar</button>
                        <button class="botonRechazar texto-boton2" type="button">Rechazar</button>
                    </div>
                </div>

            </div>

        </div>

    </section>

</body>

</html>


</body>

</html>